image: ubuntu:latest

stages:
  - release

# --- CREATE THE RELEASE ---
create_release:
  stage: release
  rules:
    # Only run this job when a tag is pushed to the main branch
    - if: '$CI_COMMIT_TAG'

  before_script:
  - apt-get update -y && apt-get install -y jq gettext libglib2.0-dev zip

  script:
    # Use the tag variable to get the version
    - export RELEASE_VERSION="${CI_COMMIT_TAG#v}"
    - export RELEASE_TITLE="Version $RELEASE_VERSION"

    - ./build.sh package
    - export ASSET_NAME=$(jq -r '.uuid' extension/metadata.json).zip

    # Use the tag-derived variables to create the release
    - release-cli create --name "$RELEASE_TITLE" --tag-name "$CI_COMMIT_TAG" \
        --assets-link "{\"name\":\"$ASSET_NAME\",\"url\":\"./$ASSET_NAME\",\"filepath\":\"/$ASSET_NAME\"}"