# Ignore linting configuration files
eslint.config.js
.prettierrc
.prettierignore
.stylelintrc.json

# Ignore extension metadata file
metadata.json

# Ignore Markdown files
*.md

# Ignore configuration files
*.toml
*.yaml
*.yml

# Ignore server files
server/**